* {
  margin: 0; /* - OK - */
  padding: 0; /* - OK - */
}

body {
  /* background-color: #f0fff0; */
  background-color: #fef7d5;
  /* background-color: #edefee; */ /* - OK - */
  font-family: "Markazi Text", serif; /* - OK - */
  margin: 3rem 5%; /* - OK - */
}

h1 {
  font-size: 3rem; /* - OK - */
  margin: 2rem 0;
  width: fit-content;
}

h2 {
  font-size: 2rem; /* - OK - */
}

p {
  font-size: 1.5rem;
  max-width: 1000px;
  line-height: 1.35;
}

/* header > img {
  display: block; // - OK -
  margin-left: auto; // - OK -
  margin-right: auto; // - OK -
} */

header {
  display: grid;
  place-content: center;
}

nav ul {
  list-style: none; /* - OK - */
  text-align: center; /* - OK - */
  margin: 3rem 0;
  border-bottom: 4px solid #26877f;
}

/* -----!!!!!-----------*/

/* nav ul li a::after {
  content: "";
  display: block;
  position: relative;
  width: 100%;
  height: 3px;
  background-color: black;
  transform: scale(0);
  transition: transform 0.2s ease-in-out;
}

nav ul li a:hover::after {
  transform: scale(1);
} */

/* ul li {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate (-50%, -50%);
  width: 100px;
} */

/*
ul li a {
  line-height: 1rem;

  background-size: 200% auto;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 50%,
    rgba(38, 135, 127, 0.3) 50%
  );
  transition: background-position 0.5s ease-out;
}

ul li a:hover {
  background-position: -100% 0;
}
*/

/*
a {
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #54b3d6;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
a:hover {
  box-shadow: inset 100px 0 0 0 #54b3d6;
  color: white;
}
*/

nav ul li {
  display: inline-block; /* - OK - */
  font-family: Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.15em;
  margin: 1.2rem 1.2rem;
  width: 150px;
  border-left: 2px solid #26877f;
  border-right: 2px solid #26877f;
}

nav ul li a {
  color: rgb(38, 135, 127); /* - OK - */
  text-decoration: none; /* - OK - */

  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 50%,
    #ddd 50%
  );
  background-position: -0% 0;
  background-size: 200% auto;

  transition: background-position 0.2s ease-out;
}

nav ul li a:hover {
  background-position: -99.99% 0;
}

#welcome-head {
  background: url("/images/img_13.jpg") center / cover no-repeat;
  padding: 1.5rem;
}

#welcome-head article {
  border-radius: 0.45rem;
  color: #fff;
  background-color: rgba(155, 155, 155, 0.65);
}

img {
  max-width: 8rem;
}

section {
  display: flex; /* - OK - */
  flex-wrap: wrap;
  gap: 1rem;
  border-radius: 0.45rem;
  margin: 3rem 0;
  /* border: 4px solid rgb(38, 135, 127); */
  /* background-color: #e8db9d; */
  background-color: #dffd9a;

  padding: 1.5rem;
}

section:nth-of-type(1) {
  flex-direction: column;
}

article {
  flex: 1; /* - OK - */
  min-width: 300px;
  background-color: #fef7d5;
  padding: 2rem 1rem;
  border: 4px solid rgb(38, 135, 127);
  border-radius: 0.45rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

article img {
  border: 4px solid rgb(38, 135, 127);
  border-radius: 50%;
  max-width: 100%;
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  transition: 0.5s ease-in-out;
}

article img:hover {
  transform: scale(1.2);
}

article div {
  display: inline-block;
  overflow: hidden;
}

article h2 {
  width: fit-content;
  position: relative;
  z-index: 1;
}

article h2:hover::before {
  transform: rotate(3deg);
}

article h2::before {
  content: "";
  position: absolute;
  background: #8e6c598c;
  height: 0.5rem;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  transition: 0.1s ease;
  transform: rotate(-3deg);
}

footer {
  display: flex; /* - OK - */
}

footer div {
  flex: 1; /* - OK - */
}

footer img {
  max-width: 3rem;
}

#copyright {
  border-top: 2px solid black;
  text-align: right;
}
