/*--- Reset default browser styles ---*/
* {
  margin: 0;
  padding: 0;
}

/*--- Global styles ---*/

body {
  background-color: #e3eee1;
  font-family: "Markazi Text", serif;
  margin: 3rem 5%;
}

header,
section,
footer {
  margin: 2rem 0;
}

h1,
h2 {
  color: #b53434; /* #26877f;*/
}

h1 {
  font-size: 3rem;
  margin: 1rem 0;
  text-align: center;
  font-style: italic;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: rgb(50 94 90);
}

p::first-letter {
  color: #b53434;
  padding: 0 0.3rem;
  margin: 0 0.3rem 0 0;
  border: 2px solid;
  border-radius: 8px;
  font-family: Helvetica, sans-serif;
}

ul.navLink a {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: rgb(38, 135, 127);
  text-transform: uppercase;
  line-height: 1.2em;
  text-decoration: none;
}

ul.navLink a {
  font-family: Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(38, 135, 127);
  text-transform: uppercase;
  line-height: 1.2em;
  text-decoration: none;
}

/*--- header section ---*/

header > img {
  display: block;
  max-width: 6rem;
  margin-left: auto;
  margin-right: auto;
  /* box-shadow: inset 20px 20px 50px 10px rgb(181, 52, 52, 0.3); */
}

/*--- navigation bar of the top ---*/

nav ul,
#navFooter ul {
  list-style: none;
  text-align: center;
  border-bottom: 4px solid #26877f;
}

nav ul li,
#navFooter ul li {
  display: inline-block;
  margin: 1.2rem;
  width: 150px;
  border-left: 2px solid #26877f;
  border-right: 2px solid #26877f;
}

nav ul li a,
#navFooter ul li a {
  font-size: 1.2rem;
}

/* animation of top and bottom navbar links */

ul.navAnimation li {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 50%,
    rgb(207, 206, 206) 50%
  );
  background-position: -0% 0;
  background-size: 200% auto;

  transition: background-position 0.2s ease-out;
}

ul.navAnimation li:hover {
  background-position: -99.99% 0;
}

/*--- main section ---*/

main {
  margin-top: 3rem;
  padding: 1.5rem;
  border-radius: 0.45rem;
}

/* main section animation: parallax effect */

main.parallax {
  background-image: url("/images/img_22.jpg");
  box-shadow: inset 0 0 10px grey;

  /* parallax effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*--- sections ---*/
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* heading section (first rubric section) */
#headingSection {
  border: 3px solid #b53434;
  border-radius: 0.45rem;
  padding: 1rem;
  font-weight: 500;
  box-shadow: 0 0 10px grey;
}

#headingSection > article {
  border: 3px solid rgb(209, 210, 209);
  border-radius: 0.45rem;
  padding: 1.2rem;
  text-align: justify;
  background-color: rgba(237, 239, 238, 0.5);
}

/* service section (second rubric section) */

#serviceSection article img {
  width: 284px;
  height: 213px;
  border: 2px solid rgb(38, 135, 127);
}

#serviceSection article p {
  font-size: 1.3rem;
  line-height: 1.3rem;
  font-style: italic;
  text-align: center;
}

/* snapshot effect */
#serviceSection article.snapshotStyle {
  width: 284px;
  padding: 10px 10px 20px 10px;
  border: 1px solid #bfbfbf;
  border-radius: 0.45rem;
  margin: 1rem auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  box-shadow: 10px 10px 5px #aaaaaa;
  background-color: rgb(237, 239, 238);
}

/* service article animation : rotate left or right */

#serviceSection article.rotateRight {
  float: left;
  transform: rotate(8deg);
}

#serviceSection article.rotateLeft {
  float: left;
  transform: rotate(-8deg);
  transition: transform 0.2s linear;
}

#serviceSection article.rotateRight:hover,
#serviceSection article.rotateLeft:hover {
  transform: rotate(0deg);
  transition: transform 0.2s linear;
}

/*--- footer section ---*/

footer {
  padding: 2rem 0;
  border-top: 4px solid #26877f;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}

footer div {
  flex: 1;
}

footer > div > img {
  display: block;
  max-width: 4rem;
  box-shadow: inset 20px 20px 50px 10px rgb(181, 52, 52, 0.2);
}

footer #rightBlock {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 0.8rem;
}

footer #rightBlock #navFooter ul {
  border-bottom: 2px solid #b53434;
}

footer #rightBlock #navFooter ul li {
  margin: 0 0.5rem 1rem 0.5rem;
  width: 120px;
}

footer #rightBlock #navFooter ul li a {
  font-size: 1rem;
  font-weight: normal;
  font-style: italic;
  color: #b53434;
}

footer #rightBlock p {
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  color: rgb(126, 126, 126);
  margin-top: 1rem;
}
